.mockup {
    position: absolute;
    opacity: 0.9;
   
}

table {
    width: 319px;
    border-collapse: collapse;
    background-color: rgb(248, 63, 63); /*rgb(244, 247, 246);*/
}

td {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 15px;
}
.one{
    height: 70px;
}
.two{
    height: 66px;
}
.three{
    height: 67px;
}
.four {
    height: 66px;
}
.five {
    height: 67px;}
.six{
    height: 66px;
}
.seven {
    height: 65px;
    background-color: rgb(228, 167, 167);/* rgb(160, 212, 206);*/
}

.eight {
    height: 67px;
}
.nine {
    height: 67px;
}
.ten {
    height: 66px;
}
.eleven {
    height: 66px;
}
.twelve {
    height: 67px;
}
.thirteen {
    height: 117px;
}

.number6 {
    width: 20px;
    height: 20px;
    padding-left: 110px;
}

.number3 {
    width: 20px;
    height: 20px;
    padding-left: 165px;
}

.beta {
    width: 20px;
    height: 20px;
}
.xbutton{
    width: 20px;
    height: 20px;
}

.flag {
    width: 15px;
    height: 10px;
    padding-left: 2px;
}


.language {
    text-decoration: underline;
}
