.container {
    width: 1231px;
    height: 331px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(28, 28, 28);
    color: rgb(239, 238, 239);
    justify-content: center;
    align-items: center;
}

p {
    font-size: 19px;
    line-height: 24px;
    line-height: 28px;
    font-family: Arial;
    letter-spacing: 0.8px;
}

.mockup08{
    position: absolute;
    opacity:0.5;
}

.logo{
    text-align: center;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    
    
}
.img1{
    width: 75px;
    height: 75px;
   
}

.img2{
    width: 75px;
    height: 75px;
}

.img3{
    width: 75px;
    height: 75px;
}