/*          mockup          */
.mockup {
    position: absolute;
    opacity: 0.5;
    
}   

/*          navbar settings          */
a:hover {
    background-color: rgb(160, 212, 206);
  }


a {
    
    background-color: rgb(248, 147, 147);
    color: black;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica;

    
  }

/*          start of a-classes navbar          */

.navbar {
    width: 319px;
    height:920px;
}
/* ===========  */
.one{
    padding-left: 30px;
    padding-top:18px;
    
}
.one_a{
    height: 70px;
    font-size: 12px;
}

/* ===========  */
.two{
    height: 66px;
}
.two_a{
    height: 66px;
}

/* ===========  */
.three {

}
.three_a{
    height: 67px;
}

/* ===========  */
.four{

}
.four_a {
    height: 66px;
}

/* ===========  */
.five{

}
.five_a {
    height: 67px;
}

/* ===========  */
.six{

}
.six_a{
    height: 66px;
}

/* ===========  */
.seven{

}
.seven_a {
    height: 65px;
}

/* ===========  */
.eight{

}
.eight_a {
    height: 67px;
}

/* ===========  */
.nine{

}
.nine_a {
    height: 67px;
}

/* ===========  */
.ten{

}
.ten_a {
    height: 66px;
}

/* ===========  */
.eleven{

}
.eleven_a {
    height: 66px;
}

/* ===========  */
.twelve {

}
.twelve_a {
    height: 67px;   
}

/* =========== */
.thirteen {

}
.thirteen_a {
    height: 117px;
}



/* small items added to navbar */
.number6 {
    width: 40px;
    height: 40px;
    padding-left: 110px;
    padding-top: 3px;
}
.number3 {
    width: 30px;
    height: 30px;
    padding-left: 154px;
    padding-top: 3px;
}
.beta {
    width: 20px;
    height: 20px;

}
.flag {
    
    width: 20px;
    height: 13px;
    padding-left: 2px;
}
.language {
    text-decoration: underline;
}
.button {
    height: 30px;
    width: 100px;
    align-items: flex-end;
    font-weight: bold;
    background-color: 	rgb(244, 247, 246);
    border: none;
    word-spacing: 10px;
    margin-left: 110px;
    font-size: 12px;
    text-align: center;
}
.xbutton {
    height: 18px;
    width: 18px;
    
}